/* Base Application Styles */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background: #ccc;
  padding: 100px;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.columns-wrapper {
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.columns-wrapper__column {
  display: inline-block;
  width: 200px;
  border-right: 1px solid #eee;
  height: 100%;
}


.listItem {
  font-size: 14px;
  line-height: 26px;
  color: #171717;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  margin-right: -1px;
  border-right: 1px solid transparant;
}

.listItem--folder {
  background-image: url('../images/arrow-right-grey.png');
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.listItem--folder.listItem--selected{
  background-image: url('../images/arrow-right-white.png');
}



.listItem--selected {
  background-color: #5098FB;
  color: #fff;
  border-right: 1px solid #4890f3;
}
