/* Base Application Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background: #D9D9D9;
  padding: 100px;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.window {
  background: #fff;
  overflow: hidden;
  overflow-x: scroll;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.09);
  border-radius: 4px;
}

.columns-wrapper {
  overflow-x: scroll;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.column {
  width: 200px;
  border-right: 1px solid #eee;
  height: 300px;
}


.listItem {
  font-size: 14px;
  line-height: 26px;
  color: #171717;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  padding-left: 40px;
  margin-right: -1px;
  border-right: 1px solid transparant;
  position: relative;
}

.listItem:before {
  content: '';
  background-image: url('../images/icon-symbol.png');
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  left: 16px;
  top: 10px;
  position: absolute;
}

.listItem--folder {
  background-image: url('../images/arrow-right-grey.png');
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.listItem--folder.listItem--selected{
  background-image: url('../images/arrow-right-white.png');
}

.listItem--folder::before{
  background-image: url('../images/icon-folder.png');
}


@media all and (-webkit-min-device-pixel-ratio : 1.5),
 all and (-o-min-device-pixel-ratio: 3/2),
 all and (min--moz-device-pixel-ratio: 1.5),
 all and (min-device-pixel-ratio: 1.5) {

   .listItem:before {
     background-image: url('../images/icon-symbol@2x.png');
     background-size: 16px;
   }

   .listItem--folder {
     background-image: url('../images/arrow-right-grey@2x.png');
     background-size: 5px 8px;
   }

   .listItem--folder.listItem--selected{
     background-image: url('../images/arrow-right-white@2x.png');
   }

   .listItem--folder::before{
     background-image: url('../images/icon-folder@2x.png');
     background-size: 16px;
   }
}

.listItem--selected {
  background-color: #5098FB;
  color: #fff;
  border-right: 1px solid #4890f3;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
